@charset "UTF-8";

body{
    width: 100%;
}
nav {
    background-color: chartreuse;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 10px;
  }
  
  .aheader {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    background-color: #333;
    color: #fff;
  }
  
  form {
    display: flex; /* 검색창과 검색 버튼을 가로로 정렬 */
   
    margin-right: 0px; /* 오른쪽 여백을 최대화하여 왼쪽으로 정렬 */
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-right: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 15px;
    background-color: #f7f2f2;
    color: #bbbbbb;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #333;
  }
  span {
    width: 21px;
    height: 30px;
    
    font-family: SUIT;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0c0b0b;
  }